div {
    /*outline: 1px black solid;*/
}

body {
    padding-top: 50px;
}

a:hover{
    cursor: pointer;
}

.popularity{
    color: red;
}
.captionParent {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.captionHead {
    height: 22px;
    line-height: 22px;
    font-size: 21px;
}

.captionBody {
    height: 16px;
    line-height: 16px;
    font-size: 15px;
}

.myMP {
    margin: 20px;
}

.myB {
    margin-bottom: 20px;
}

.moviePhoto {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}
.logout:hover{
    cursor: pointer;
}